<c-row>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      class="mb-4"
      color="primary"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <p>Play Coin Toss!</p>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      class="mb-4"
      color="info"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <p>Play Bingo!</p>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
